/* nullify wp css starts here*/
#content table {
border:0;
margin:0;
text-align:left;
width:100%;
}
#content tr td {
padding:0px;
}

#content tr td {
border-top:0;
padding:0;
}


#content, #content input, #content textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.5;
}

.entry-content input {
margin:0;
}

input[type="text"], textarea {
-moz-box-shadow:none;

border-top:2px #ccc inset;
border-left:2px #ccc inset;
border-right:1px #ccc solid;
border-bottom:1px #ccc solid;

}

.entry-content select {
margin:0px;
width:143px;
}

#single input[type="image"] , #commentform input[type="image"] {width:auto;}
.container_24{
	background: #fff;
	padding-top: 4px;
}
/* ends here */

.ui-widget {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.container_24 #wpols_header {
  height: 0px;
}
#storeLogo {
	float: left;
	height: 21px;
	width: 111px;
}

#headerShortcuts {
  float: right;
  margin-top: 10px;
}

.container_24 #columnLeft {
  padding-top: 5px;

}

.container_24 #columnRight {
padding-top:5px;
margin-right:0px;
}

.container_24 .infoBoxHeading {
  padding: 8px 5px;
  font-size: 11px;
}

.container_24 .infoBoxContents {
      background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #E1E1E1;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 12px;
    padding: 5px 5px;
  font-size: 11px;
  line-height: 1.5;color:#000;
}

.container_24 .contentContainer {
  padding-bottom: 10px;
}

.container_24 .contentContainer h2 {
  font-size: 16px;
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.container_24 .contentText,.container_24 .contentText table {
  padding: 5px 0 5px 0;
  font-size: 11px;
  line-height: 1.5;
}

.container_24 .productListTable {
  padding: 5px;
  font-size: 11px;
  line-height: 1.5;
}

.container_24 .productListTable tr.alt td {
  background-color: #ecf6fc;
}

.container_24 .fieldKey {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
  width: 150px;
}

.container_24 .fieldValue {
  font-size: 11px;
  line-height: 1.5;

}

.container_24 h1 {
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.container_24 img {
  border: 0;
}

.container_24  table, .container_24 p {
  font-size: 11px;
  line-height: 1.5;
}

.container_24 #piGal ul {
  list-style-type: none;
}

.container_24 #piGal img {
  -webkit-box-shadow: 0px 0px 1px #000;
  -moz-box-shadow: 0px 0px 1px #000;
}

.container_24 #piGal .outer {
  margin-left: auto;
}

.container_24 .buttonSet {
  clear: both;
}

.container_24 .buttonAction {
  float: right;
}

.container_24 .boxText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.container_24 .errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.container_24 .stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #cc0033; }
.container_24 .productsNotifications { background: #f2fff7; }
.container_24 .orderEdit { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }

.container_24 A {
  color: #000000;
  text-decoration: none;
}

.container_24 A:hover {
  text-decoration: underline;
}

.container_24 FORM {
	display: inline;
}

.container_24  TR.header {
  background: #ffffff;
}

.container_24 TR.headerNavigation {
  background: #bbc3d3;
}

.container_24 TD.headerNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #bbc3d3;
  color: #ffffff;
  font-weight : bold;
}

.container_24 A.headerNavigation { 
  color: #000000; 
}

.container_24 A.headerNavigation:hover {
	color: #000066;
}

.container_24 TR.headerError {
  background: #ff0000;
}

.container_24 TD.headerError {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

.container_24 TR.headerInfo {
  background: #00ff00;
}

.container_24 TD.headerInfo {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #00ff00;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.container_24 TR.footer {
  background: #bbc3d3;
}

.container_24 TD.footer {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #bbc3d3;
  color: #ffffff;
  font-weight: bold;
}

.container_24 .infoBox {
  background: #b6b7cb;
}

..container_24 infoBoxNotice {
  background: #FF8E90;
}

.container_24 .infoBoxNoticeContents {
  background: #FFE6E6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

.container_24 TD.infoBoxHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  background: #bbc3d3;
 /* color: #ffffff;*/
}

.container_24 TD.infoBox, .container_24 SPAN.infoBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

.container_24 TR.accountHistory-odd, .container_24 TR.addressBook-odd,.container_24  TR.alsoPurchased-odd,.container_24 TR.payment-odd,.container_24 TR.productListing-odd,.container_24 TR.productReviews-odd,.container_24 TR.upcomingProducts-odd,.container_24 TR.shippingOptions-odd {
  background: #f8f8f9;
}

.container_24 TR.accountHistory-even, .container_24 TR.addressBook-even, .container_24 TR.alsoPurchased-even, .container_24 TR.payment-even, .container_24 TR.productListing-even, .container_24 TR.productReviews-even, .container_24 TR.upcomingProducts-even, .container_24 TR.shippingOptions-even {
  background: #f8f8f9;
}

.container_24 TABLE.productListing {
  border: 1px;
  border-style: solid;
  border-color: #b6b7cb;
  border-spacing: 1px;
}

.container_24 .productListingHeader {
  table-layout: fixed;
  color: #000000;
  font-weight: bold;
}

.container_24 .productListingHeader A:hover {
  color: #000000;
}

.container_24 .productListingData {
  table-layout: fixed;
}

.container_24 A.pageResults {
  color: #0000FF;
}

.container_24 A.pageResults:hover {
  color: #0000FF;
  background: #FFFF33;
}

.container_24 TD.pageHeading, DIV.pageHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #9a9a9a;
}

.container_24 TR.subBar {
  background: #f4f7fd;
}

.container_24 TD.subBar {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #000000;
}

.container_24 TD.main, .container_24 P.main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

.container_24 TD.smallText, .container_24 SPAN.smallText,.container_24 P.smallText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

.container_24 TD.accountCategory {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #aabbdd;
}

.container_24 TD.tableHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.container_24 SPAN.newItemInCart {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #ff0000;
}

.container_24 CHECKBOX, INPUT, .container_24 RADIO, SELECT {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

.container_24 TEXTAREA {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

.container_24 SPAN.greetUser {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #f0a480;
  font-weight: bold;
}

.container_24 TABLE.formArea {
  background: #f1f9fe;
  border-color: #7b9ebd;
  border-style: solid;
  border-width: 1px;
}

.container_24 TD.formAreaTitle {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.container_24 SPAN.markProductOutOfStock {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #c76170;
  font-weight: bold;
}

.container_24 SPAN.productSpecialPrice {
	font-family: Arial, Helvetica, sans-serif;
	color: #ff0000;
}

.container_24 SPAN.errorText {
  font-family: Verdana, Arial, sans-serif;
  color: #ff0000;
}

.container_24 .moduleRow { }
.container_24 .moduleRowOver { background-color: #D7E9F7; cursor: pointer; cursor: hand; }
.container_24 .moduleRowSelected { background-color: #E9F4FC; }

.container_24 .checkoutBarFrom, .container_24 .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.container_24 .checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }

/* message box */

.container_24 .messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.container_24 .messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.container_24 .messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* input requirement */

.container_24 .inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }



/* account link list */

.container_24 .accountLinkList {
  list-style-type: none;
  margin: 2px 2px 2px 10px;
  padding: 5px;
}

.container_24 .accountLinkListEntry {
  float: left;
  margin-right: 5px;
}

 .one-column #content {
margin:0 0;
}
.one-column #content tr td {
padding:6px 6px;
}
.one-column #content {
width:100%
}
.entry-content IMG{
max-width:100%;
}

article.intro .entry-content {
	font-size: 11px;
}

